@model IEnumerable<PendeloApp.Models.KmPerDay>
@using Microsoft.AspNetCore.Identity
@using PendeloApp.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
    var totalKilometers = Model.Sum(k => k.Kilometers);
}

<h1>@User.Identity?.Name's Kilometers</h1>

<p>
    <a asp-action="Create" class="btn" style="background-color: #2C7865; color: white;">Register Kilometers</a>
</p>
<br />
<div>
    Total Kilometers Driven: @totalKilometers
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriveDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kilometers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DriveDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kilometers)
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn" style="background-color: #2C7865; color: white;">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.ID" class="btn" style="background-color: #2C7865; color: white; margin-left: 1px; margin-right: 2px;">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.ID" class="btn" style="background-color: #2C7865; color: white;">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
